.jumbutron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #a1c6eb;
    border-radius: .2rem;
}

.image{
  width: 200px;
  height: 200px;
  margin: 30px;
  background-color: black;
  border-radius: 10px;
}

.copa{
  width: 230px;
  height: 350px;
  margin: 10px;
}
